
/* general settings */

body {
    background-color:black;
    font-size: 1.2rem; 
    font-family: Gotham, Arial, sans-serif;
}

a{
    text-decoration: none;
    transition: all 700ms;
}

a:hover {
       text-decoration: underline;
       color: crimson;
    
}

h1,h3{
    text-align:center;
    margin-top: 4px;
}

ul { list-style-type:none}

li{
    margin-top: 10px;

}

.container{
    position: relative;
    background-color:#ccd; 
    padding:1% 2%; 
    opacity: 1;
 }

 /* top-right icons */
#icons{
    text-align:center;
}
#icons span{
    font-size: 1.5em;
    margin-right:10px;   
}

#icons a:hover{
    text-decoration: none;
}

 /* general settings for buttons*/

button {
    background-color: #223;
    border-radius:8%;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 700ms;
}

button:hover{
    background-color: crimson;
    /* transform: scale(1.5); */
}

/* control buttons */
#control {
    font-size: 0.8rem; 
    float:right;
    display:none
}

#color-panel{
    position: relative;
    padding-right: 110px;
    padding-left: 10px;  
}

#color-panel button:hover{
    transform: scale(1.5);
}

#show button{
    width: 40px;
    height:40px;
    border-radius: 50%;
    background: #ccd;
    /* color:white; */
}
#show button span{
    font-size: 1.5em;
    color:blue;
    background-color: #ccd;
}

#show button:hover{
    transform: rotate(360deg)
}




/* color buttons*/

#col1, #col2, #col3, #col4{
    width:20px;
    height: 20px;
    position: absolute;
    left: -1000px;
}
#col1{    
    /* left: 140px; */
    background-color: #223;
}
#col2{
    /* left:165px; */
    background: darkgreen;
}

#col3{
    /* left:190px; */
    background-color: blueviolet;
}
#col4{
    /* left:215px; */
    background-color: darkslategray
}



@media screen and (min-width: 700px) {
    

    #control {display:inline}
    #opControl{display:none}
    #show {display:none}

    .container{
        width:80%; 
        /* margin: 10% auto;  */
        border-radius:5px; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {float:left;}	 
    #icons {float:right;}
    p{clear:both;}
}
