.container{
    position: relative;
    background-color:#ccd; 
    padding:1% 2%; 
    opacity: 1;
 }

h1,h3{
    text-align:center;
    margin-top: 4px;
}

body {
    background-color:black;
    font-size: 1.2rem; 
    font-family: Gotham, Arial, sans-serif;
}

button {
    background-color: #223;
    border-radius:8%;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 1s;
}

button:hover{
    background-color: crimson;
}

a{
    text-decoration: none;
    transition: all 700ms;
}

a:hover {
       text-decoration: underline;
       color: crimson;
}

ul { list-style-type:none}

li{
    margin-top: 10px;

}

#control {
    font-size: 0.8rem; 
    float:right;
    display:none
}

#color-panel{
    position: relative;
    padding-right: 110px;
    padding-left: 10px;
   
}

/* .side-colors{
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
} */

#col1, #col2, #col3, #col4{
    width:20px;
    height: 20px;
    position: absolute;
    left: -1000px;
}
#col1{    
    /* left: 140px; */
    background-color: #223;
}
#col2{
    /* left:165px; */
    background: darkgreen;
}

#col3{
    /* left:190px; */
    background-color: blueviolet;
}
#col4{
    /* left:215px; */
    background-color: darkslategray
}



@media screen and (min-width: 700px) {
    

    #control {display:inline}
    #opControl{display:none}
    #show {display:none}
    .container{width:80%; margin: 10% auto; border-radius:5px; }
    h1 {float:left;}	 
    h3 {float:right;}
    p{clear:both;}
}
